<html>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></head>
<body>
{{^student}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter A User" name="name" required>
    <input type="password" placeholder="Enter Your Password" name="password" required>
    <button type="submit">Login</button>
</form>
<br>
{{/student}}
{{#student}}
<form action="/logout" method="post" class="form-inline">
    Welcome {{name}}<button type="submit">Logout</button>
</form> <br>
{{/student}}
{{#students}}
{{name}}
{{/students}}
<br>
<div width="60%">
<table class="table table-hover table-striped table-condensed table-bordered">
    <tr>
        <th>Completed Assignments</th>
        <th>Open Assignments</th>
    </tr>
    <tr valign="top">
        <td>
            {{#completed}}
            <form action="/remove-assignment" method="post" class="form-inline">
                {{num}} {{name}}
                <input hidden name="assignmentId" type="text"  value="{{id}}">
                <button type="submit">Revert</button>
            </form><br>
            {{/completed}}
        </td>
        <td>
            {{#assignments}}
            <form action="/add-assignment" method="post" class="form-inline">
                {{num}} {{name}}
                <input hidden name="assignmentId" type="text"  value="{{id}}">
                <button type="submit">Move To Completed</button>
            </form> <br>
            {{/assignments}}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>{{#showPrev}}<a href="/?page={{prevPage}}">Prev</a>{{/showPrev}}{{#showNext}}<a href="/?page={{nextPage}}">Next</a>{{/showNext}}</td>
    </tr>
</table>
</div>
</body>
</html>